/*fonts*/
@font-face {
    font-family: Helvetica;
    src: url(../../../../fonts/Helvetica.ttf);
}
@font-face {
    font-family: Helvetica-bold;
    src: url(../../../../fonts/Helvetica-Bold-Font.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 120px;
    background:#fff ;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
    z-index: 20;
}
header .headercont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .headercont .arrowback {
    height: 80%;
    width: auto;
}
header .headercont .arrowback:hover {
    cursor: pointer;
}
header .headercont .arrowback img {
    height: 100%;
    width: auto;
    transform: rotate(180deg);
}
header .headercont .clientlogo {
    height: 80%;
    width: auto;
}
header .headercont .clientlogo img {
    height: 100%;
    width: auto;
}


.mastercont {
    width: 100vw;
    height: 100vh;
    background:url(../../../img/backplataforma.jpg), #80BC00;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}
.mastercont .proyectos {
    width: 80%;
    background: #fff;
    height: 80%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
    border-radius: 40px 40px 0px 0px;
    padding: 30px 30px 0px 30px;
}
.mastercont .proyectos .proyectoscont {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}


.proyecto {
    width: 100%;
    height: 150px;
    background: #80BC00;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    transition: 500ms ease;
}
.proyecto:hover {
    background: #a7ef0b;
    cursor: pointer;
}
.proyecto .imgpro {
    width: 30%;
    height: 100%;
}
.proyecto .imgpro img {
    width: 100%;
    height: auto;
}
.proyecto .proinfo {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 20px;
}
.proyecto .proinfo h3 {
    width: 100%;
    height: auto;
    font-size: 50px;
    font-family: Helvetica-bold;
}
.proyecto .proinfo .donde {
    width: 30%;
    height: auto;
    font-size: 20px;
    font-family: Helvetica;
    color: #e2e2e2;
}
.proyecto .proinfo .ubicacion {
    width: 70%;
    height: auto;
    font-size: 20px;
    font-family: Helvetica;
}



.inpromaster {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 500ms ease;
}
.inpromaster .inpro {
    width: 80%;
    background: #80BC00;
    height: 80%;
    border-radius: 40px 40px 0px 0px;
    padding: 30px 30px 0px 30px;
    transform: translateY(100vh);
    transition: 500ms ease;
}
.inpromaster .inpro .inprocont {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.inpromaster .inpro .inprocont .arrowhid {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 20px;
}
.inpromaster .inpro .inprocont .arrowhid:hover {
    background: rgba(0, 0, 0, 0.187);
    cursor: pointer;
}
.inpromaster .inpro .inprocont .arrowhid img {
    height: 100%;
    transform: rotate(180deg);
}
.inpromaster .inpro .inprocont .inproinfcont {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.inproinf {
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.inproinf .inproimg {
    width: 30%;
    height: 100%;
    background: #000;
}
.inproinf .inproimg img {
    width: 100%;
    height: auto;
}
.inproinf .infbox {
    width: 65%;
    height: 100%;
    color: #fff;
}
.inproinf .infbox h3 {
    font-size: 50px;
    font-family: Helvetica-bold;
}
.inproinf .infbox p {
    font-size: 30px;
    font-family: Helvetica;
}
.inprogalery {
    width: 100%;
    height: auto;
}
.inprogalery img {
    max-height: 300px;
}


.cortina {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 105;
}
.cortina .cortinacont {
    width: 100%;
    height: 100%;
    background: #80BC00;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0vh);
    transition: 1s ease;
}
.cortina .cortinacont img {
    width: 200px;
    height: auto;
}